body{
    font-family: 'Poppins', sans-serif;
}
section{

}
.top-banner{
    background-image: url(images/);
text-align: center;
}
.link-button{
text-decoration: none;
padding: 10px;
background-image: linear-gradient(red,green);
border-radius: 5px;
color: white;
font-weight: 400;
}
.donate-amount{
    text-align: center;
}
.donate-plan{
    text-align: center;
}

footer{
    border: 5px;
    background-color: black;
}
footer h1{
    text-align: center;
    color: brown;
    padding: 5px;
}
footer p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}