body{
    font-family: 'Poppins', sans-serif;
}

footer{
    border: 5px;
    background-color: black;
}
footer h1{
    text-align: center;
    color: brown;
    padding: 5px;
}
footer p{
    text-align: center;
    color: white;
    padding-bottom: 15px;
}